#signupModal.modal.fade
    .modal-dialog
        .modal-content
            form(method='post' action='/user/signup')
                .modal-header
                    button.close(type='button' data-dismiss='modal')
                        span &times;
                    h4.modal-title 注册
                .modal-body
                    .form-group
                        label(for='signupName') 用户名
                        input#signupName.form-control(name='user[name]' type='text')
                    .form-group
                        label(for='signupPassword') 密码
                        input#signupPassword.form-control(name='user[password]' type='text')
                .modal-footer
                    button.btn.btn-default(type='button' data-dismiss='modal') 关闭
                    button.btn.btn-success(type='submit') 提交
#signinModal.modal.fade
    .modal-dialog
        .modal-content
            form(method='post' action='/user/signin')
                .modal-header
                    button.close(type='button' data-dismiss='modal')
                        span &times;
                    h4.modal-title 登录
                .modal-body
                    .form-group
                        label(for='signinName') 用户名
                        input#signinName.form-control(name='user[name]' type='text')
                    .form-group
                        label(for='signinPassword') 密码
                        input#signinPassword.form-control(name='user[password]' type='text')
                .modal-footer
                    button.btn.btn-default(type='button' data-dismiss='modal') 关闭
                    button.btn.btn-success(type='submit') 提交

.container
    .row
        .page-header.clearfix
            .col-xs-5.col-md-5
                h1!= title + '&nbsp;'
                    small 重度科幻迷
            .col-xs-7.col-md-offset-4.col-md-3
                form(method='get' action='/results')
                    label.sr-only(for='query') 搜索
                    .input-group
                        input.form-control#query(type='text' name='q')
                        span.input-group-btn
                            button.btn.btn-default(type='submit') 搜索
.navbar.navbar-default.navbar-fixed-bottom
    .container
        .navbar-header
            a.navbar-brand(href='/') 重度科幻迷
        if user
            p.navbar-text.navbar-right
                span 欢迎您，#{user.name}
                span &nbsp;|&nbsp;
                a.navbar-link(href='/logout') 登出
        else
            p.navbar-text.navbar-right
                a.navbar-link(href='#' data-toggle='modal' data-target='#signupModal') 注册
                span &nbsp;|&nbsp;
                a.navbar-link(href='#' data-toggle='modal' data-target='#signinModal') 登录
